<div class="jumbotron" id="jumbo-watch">
  <h1 class="display-3">Empo X</h1>
  <p class="lead">Buy and sell authentic watches online</p>
	<br />
  <form>
  <input type="text-search" name="search" placeholder="Search for brand, color etc.">
  </form>
</div>

<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />
