<div class="jumbotron" id="jumbo-about">
  <h1 class="logo">About Us: Deadstock</h1>
  <h2 class="lead">A marketplace to bid, buy direct and sell your products in Malaysia and South East Asia</h2>
  <h4>Find limited edition sneakers from resellers, selective watches and handbags in this marketplace and be assured that the products are authenticated by our team of experts. Let market forces determine the price to pay. We believe in transparency,
    please use the last transacted price, price premium and number of sales to ease your decision making. We also track the Jordan, Nike and Adidas brand indices for your information.</h4>
    <br />
    <br />
    <br />
    <i class="down" id="arrow1" type="button1"></i>
</div>


<div id="services" class="container-fluid text-center">
  <h1 class="title">BASICS</h1>
  <br>
  <br />
  <br />
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fa fa-user-secret logo-small-1" aria-hidden="true"></i>
      <h2 class="title-2">ANONYMITY</h2>
      <p class="explain-description">Never worry about legit buyers or sellers – we’re in the middle.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-desktop logo-small-2" aria-hidden="true"></i>
      <h2 class="title-2">TRANSPARENCY</h2>
      <p class="explain-description">Real-time market data for intelligent buying and selling.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-search logo-small-3" aria-hidden="true"></i>
      <h2 class="title-2">AUTHENTICITY</h2>
      <p class="explain-description">Our experts authenticate every product sold on Deadstock.</p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <i class="down" id="arrow2" type="button1"></i>
</div>

<br />
<br />
<br />
<br />

<div id="buy_1" class="container-fluid text-center">
  <h1 class="title">BUYING ON DEADSTOCK</h1>
  <br>
  <br />
  <br />
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fa fa-btc logo-small-4" aria-hidden="true"></i>
      <h2 class="title-2">BID (BUY)</h2>
      <p class="explain-description">Make an offer that any seller can accept; or purchase immediately at the lowest Ask.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-certificate logo-small-4" aria-hidden="true"></i>
      <h2 class="title-2">AUTHENTICATE</h2>
      <p class="explain-description">Seller ships to us. We authenticate, then we release funds to the seller.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-money logo-small-4" aria-hidden="true"></i>
      <h2 class="title-2">PROSPER</h2>
      <p class="explain-description">We ship to you. You sip a glass of gin and tonic, knowing you will never get a fake.</p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <i class="down" id="arrow3" type="button1"></i>
</div>

<div id="sell_1" class="container-fluid text-center">
  <h1 class="title">SELLING ON DEADSTOCK</h1>
  <br>
  <br />
  <br />
  <div class="row slideanim">
    <div class="col-sm-4">
      <i class="fa fa-comments-o logo-small-4" aria-hidden="true"></i>
      <h2 class="title-2">ASK (SELL)</h2>
      <p class="explain-description">List an item for sale; or sell immediately at the highest Bid.</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-dropbox logo-small-4" aria-hidden="true"></i>
      <h2 class="title-2">AUTHENTICATE</h2>
      <p class="explain-description">Seller choose to ship to us OR we will pick it up from you to authenticate, then we release funds to the seller.</p>
    </div>
    <div class="col-sm-4">
      <i class="glyphicon glyphicon-fire logo-small-4" aria-hidden="true"></i>
      <h2 class="title-2">PROSPER</h2>
      <p class="explain-description">We release funds to you. You sip a glass of martini, knowing you will never get a chargeback.</p>
    </div>
  </div>
</div>




<style>

  .explain-description {
    font-size:20px;
  }

  .title-2 {
    font-size: 30px;
    font-weight: bold;
  }

  .title {
    font-size: 60px;
    font-weight: bold;
  }

  .buy-section {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 40px;
  }

  #buy_1 {
    color: white;
    padding: 80px;
    background-color: #00bbe3;
  }

  #sell_1 {
    color: white;
    padding: 80px;
    background-color: #525252;
  }

  #services {
    padding: 80px;
  }

  .logo-small-1 {
    font-size: 150px;
    color: #fec110;
  }

  .logo-small-2 {
    font-size:150px;
    color: #41ad33;
  }

  .logo-small-3 {
    font-size: 150px;
    color: #00bbe3;
  }

  .logo-small-4 {
    font-size: 150px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  #arrow1 {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  color: white;
  }

  #arrow2 {
  border: solid black;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  }

  #arrow3 {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  }

</style>

<script>
$("#arrow1").click(function() {
  $('html,body').animate({
      scrollTop: $("#services").offset().top},
      'slow');
});

$("#arrow2").click(function() {
  $('html,body').animate({
      scrollTop: $("#buy_1").offset().top},
      'slow');
});

$("#arrow3").click(function() {
  $('html,body').animate({
      scrollTop: $("#sell_1").offset().top},
      'slow');
});
</script>
