
<div class="jumbotron" id="jumbo-about">
  <h1 class="logo">About Us: Deadstock</h1>
  <h2 class="lead">A marketplace to bid, buy direct and sell your products in Malaysia and South East Asia</h2>
  <h4>Find limited edition sneakers from resellers, selective watches and handbags in this marketplace and be assured that the products are authenticated by our team of experts. Let market forces determine the price to pay. We believe in transparency, please use the last transacted price, price premium and number of sales to ease your decision making. We also track the Jordan, Nike and Adidas brand indices for your information.</h4>
</div>