
.banner h1
{
  color:white;
}



/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.0);
    height: 40px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    color: white;
}

.opaque-navbar.opaque {
    background-color: black;
    color: white;
    height: 40px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  .opaque-navbar {
    background-color: black;
    height: 40px;
    transition: background-color .5s ease 0s;
}

}


.navbar-inverse ul.navbar-nav li a:hover { text-decoration: underline;}

.navbar-inverse .navbar-brand{
  color:white;
  font-family: Futura;
  font-style: italic;
}

.navbar-inverse .navbar-nav>li>a {
  color:white;
}

.marquee {
color: #41ad33;
font-size: 18px;
font-weight: 600;
width: 150%;
font-family: proxima-nova,sans-serif;
overflow: hidden;
border: 1px solid black;
background: black;
}

#item_marquee {
  color: white;
  padding-left: 40px;
}

#number_marquee_down {
  color: #ff5a5f;
}

#symbol_marquee_down {
  color: #ff5a5f;
}


.navbar-inverse {
  margin-bottom: -20px;
}

/* Dropdown Button */
.dropbtn {

  color: white;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.dropdown a:hover { color: white;}
.dropdown a:active { color: white;}
.dropdown a:focus { color: white;}
.dropdown a:visited { color: white;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin-top: 15px;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #f9f9f9;
}
