
.banner h1
{
  color:white;
}



/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.0);
    height: 40px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    color: white;
}

.opaque-navbar.opaque {
    background-color: black;
    color: white;
    height: 40px;
    transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
    background-color: black;
}


@media (max-width: 992px) {
  .opaque-navbar {
    background-color: black;
    height: 40px;
    transition: background-color .5s ease 0s;
}

}


.navbar-inverse ul.navbar-nav li a:hover { text-decoration: underline;}

.navbar-inverse .navbar-brand{

  color:white;
}

.navbar-inverse .navbar-nav>li>a {
  color:white;
}

.marquee {
color: #41ad33;
font-size: 18px;
font-weight: 600;
width: 150%;
font-family: proxima-nova,sans-serif;
overflow: hidden;
border: 1px solid black;
background: black;
}

#item_marquee {
  color: white;
}

#number_marquee_down {
  color: #ff5a5f;
}

#symbol_marquee_down {
  color: #ff5a5f;
}


.navbar-inverse {
  margin-bottom: -20px;
}
