<div class="jumbotron" id="jumbo-sneaker">
  <h1 class="display-3">Empo X</h1>
  <p class="lead">Buy and sell authentic sneakers online</p>
	<br />
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br /><br />
<br />
<br />

<% x = HistoricalTable.uniq.pluck(:model_number) %>
<%= x %>

<% x.each do |modelno| %>
<%= area_chart HistoricalTable.where(model_number: modelno).group(:date_time).sum(:transacted_price) %>
<% end %>
