<div class="jumbotron" id="jumbo-sneaker">
  <h1 class="display-3">Empo X</h1>
  <p class="lead">Buy and sell authentic sneakers online</p>
	<br />
  <form>
  <input type="text-search" name="search" placeholder="Search for brand, color etc.">
  </form>
</div>
<h1><strong>🔥🔥🔥 Most Popular Items 🔥🔥🔥</strong></h1>
<% @item.each do |item| %>
<div class="shoes">
  <div class="container">
    <div class="product-one">
      <div class="col-md-3 product-left">
        <div class="p-one simpleCart_shelfItem">
            <a href="single.html">

              <div class="mask">
                <span>Quick View</span>
              </div>
            </a>
          <h4><%= item.name %></h4>
          <p><a class="item_add" href="#"><i></i> <span class=" item_price"><%= item.resell_price %></span></a></p>

        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
      <div class="col-md-3 product-left">
        <div class="p-one simpleCart_shelfItem">

          <a href="single.html">
              <img src="images/shoes-2.png" alt="" />
              <div class="mask">
                <span>Quick View</span>
              </div>
            </a>
          <h4>Aenean placerat</h4>
          <p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>

        </div>
      </div>
      <div class="col-md-3 product-left">
        <div class="p-one simpleCart_shelfItem">

          <a href="single.html">
              <img src="images/shoes-3.png" alt="" />
              <div class="mask">
                <span>Quick View</span>
              </div>
            </a>
          <h4>Aenean placerat</h4>
          <p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>

        </div>
      </div>
      <div class="col-md-3 product-left">
        <div class="p-one simpleCart_shelfItem">

          <a href="single.html">
              <img src="images/shoes-13.png" alt="" />
              <div class="mask">
                <span>Quick View</span>
              </div>
            </a>
          <h4>Aenean placerat</h4>
          <p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>

        </div>
      </div>
